{{#extends "base"}}
  {{! Refers to the views/layouts/base.hbs file }}
  {{#block "content"}}
    <h1>About Us</h1>

    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id
          sodales est, quis bibendum justo. Ut ut elit id libero feugiat
          sagittis. Sed ut ultricies mauris. Nullam eu felis vehicula,
          scelerisque nisi nec, bibendum diam. Cras eu augue quis felis mattis
          finibus. Nullam fringilla venenatis nisl nec pretium. Quisque tempor
          neque congue ultricies convallis. Sed condimentum, augue sit amet
          faucibus consectetur, nulla metus ultrices leo, vel consectetur lorem
          augue quis massa. Suspendisse aliquet nec urna at maximus. Sed et
          molestie sem. Mauris odio mi, ornare et sodales at, euismod sed eros.
          Duis cursus augue sodales tempor accumsan. Etiam interdum fermentum
          justo sit amet vulputate. Duis mollis arcu quis dolor interdum, a
          elementum ligula egestas. Mauris aliquam nisl sit amet felis tincidunt
          rutrum.
          <br />
          Morbi id orci at purus semper dignissim eu nec ante. Quisque sagittis
          mattis quam et efficitur. Morbi id fringilla libero. Nunc tortor
          ipsum, euismod quis lacus id, fermentum luctus lorem. Fusce eu metus
          bibendum, imperdiet tellus nec, aliquam ligula. Donec dignissim
          posuere rhoncus. Quisque pulvinar porta lectus, auctor ullamcorper est
          tincidunt et. Morbi viverra feugiat tellus vel venenatis. Praesent a
          finibus mauris, et ultrices quam. Fusce condimentum enim sapien, sit
          amet eleifend nibh egestas in.
          <br />
          Morbi vel turpis non magna mattis sagittis. Proin facilisis velit id
          mi accumsan, eget dignissim justo pulvinar. Aliquam venenatis mauris
          quis vehicula tempus. Aliquam maximus tortor id risus accumsan
          sodales. Cras lacinia odio arcu, sed condimentum lectus ultrices at.
          Vivamus ac viverra eros. Cras ac magna pulvinar, venenatis nibh eget,
          bibendum odio. Etiam quis metus sed ipsum rhoncus congue sed at nisl.
        </p>
      </div>
    </div>
  {{/block}}
{{/extends}}