{{#extends "base"}}
  {{! Refers to the views/layouts/base.hbs file }}
  {{#block "content"}}
    <h1>Contact Us</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Name
        </div>
        <div class="col-sm">
          John Smith
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          Phone Number
        </div>
        <div class="col-sm">
          +1 (845) 555 1728
        </div>
      </div>
    </div>
  {{/block}}
{{/extends}}