{{#extends 'base'}}

{{#block 'content'}}
<h1>My shopping cart</h1>

<ul class="list-group">
    {{#each shoppingCart}}
    <li class="list-group-item my-3">
        <h4>{{this.product.name}}</h3>
            <h5>Category: {{this.product.category.name}}</h5>
            <h5>Cost: {{this.product.cost}} </h5>        
            <h5>Quantity: {{this.quantity}}</h5>   
    </li>
    {{/each}}
</ul>


{{/block}}

{{/extends}}